@using CleanHome.Extensions
@using CleanHome.Models
@using CleanHome.Services
@inject MaterialService materialService
@inject ProveedorService proveedorService
@inject NavigationManager navegar
@inject ToastService toastService
@page "/Materiales/Editar_Material/{Id:int}"
@rendermode InteractiveServer

<PageTitle>Editar Material</PageTitle>

	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header text-center">
				<h5 class="card-title">Editar Material</h5>
			</div>
			<EditForm Model="material" OnValidSubmit="Guardar">
			<DataAnnotationsValidator />
				<div class="card-body ">
					<div class="row gx-2 g-5 mt-1 mb-1 justify-content-center">
						@* Nombre *@
						<div class="col-md-5">
							<label class="form-label"><strong>Nombre</strong></label>
							<InputText class="form-control" @bind-Value="material.Nombre"></InputText>
							<ValidationMessage For="@(() => material.Nombre)" />
						</div>
						@* Cantidad *@
						<div class="col-md-5">
							<label class="form-label"><strong>Cantidad disponible</strong></label>
							<InputNumber class="form-control" @bind-Value="material.CantidadDisponible"></InputNumber>
							<ValidationMessage For="@(() => material.CantidadDisponible)" />
						</div>
						@* Unidad *@
						<div class="col-md-5">
							<label class="form-label"><strong>Unidad</strong></label>
							<InputText class="form-control" @bind-Value="material.Unidad"></InputText>
							<ValidationMessage For="@(() => material.Unidad)" />
						</div>
						@* Precio *@
						<div class="col-md-5">
							<label class="form-label"><strong>Precio</strong></label>
							<InputNumber class="form-control" @bind-Value="material.Precio"></InputNumber>
							<ValidationMessage For="@(() => material.Precio)" />
						</div>
						@* Proveedor *@
						<div class="col-md-5">
							<label class="form-label"><strong>Proveedor</strong></label>
							<InputSelect class="form-control" @bind-Value="@material.ProveedorId">
								<option value="0" selected disabled hidden>Seleccione un proveedor...</option>
								@foreach (var proveedor in ListaProveedores)
								{
									<option value="@proveedor.ProveedorId">@proveedor.Nombre</option>
								}
							</InputSelect>
							<ValidationMessage For="@(() => material.ProveedorId)" />
						</div>
					</div>
				</div>
				@*footer*@
				<div class="card-footer text-center mt-3 d-flex justify-content-center">
					<div class="d-flex justify-content-between gap-2">
						<a href="/Materiales" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
						<button type="submit" class="btn btn-primary bi bi-floppy"> Guardar</button>
						@if (material.Estado == Estados.Activo)
						{
							<button class="btn btn-danger bi bi-trash" @onclick="Eliminar"> Eliminar</button>
						}
						else
						{
							<button class="btn btn-success bi bi-arrow-counterclockwise" @onclick="Recuperar"> Recuperar</button>
						}
					</div>
				
				</div>

			</EditForm>
		</div>
	</div>

@code
{
	[Parameter]
	public int Id { get; set; }

	Materiales? material = new();
	private List<Proveedores?> ListaProveedores { get; set; } = new List<Proveedores?>();

	protected override async Task OnInitializedAsync()
	{
		material = await materialService.Buscar(Id);
		ListaProveedores = await proveedorService.Listar(criterio: p => p.ProveedorId > 0);
	}

	async Task Guardar()
	{
		Console.WriteLine("Guardando material...");
		if(material != null)
		{
			var modificado = await materialService.Guardar(material);
			if (modificado)
			{
				toastService.ShowSuccess("El material ha sido modificado con exito!");
				navegar.NavigateTo("/Materiales");
			}
			else
				toastService.ShowWarning("Error al modificar el material.");
		}

	}
	async Task Eliminar()
	{
		if(material != null)
		{
			var eliminado = await materialService.Eliminar(material);
			if (eliminado)
			{
				toastService.ShowSuccess("El material se ha eliminado con exito!");
				navegar.NavigateTo("/Materiales");

			}
			else
				toastService.ShowError("Ha ocurrido un error al eliminar el material");
		}

	}
	async Task Recuperar()
	{
		if(material != null)
		{
			var recuperado = await materialService.Recuperar(material);
			if (recuperado)
			{
				toastService.ShowSuccess("El material ha sido recuperado con exito!");
				navegar.NavigateTo("/Materiales");
			}
			else
				toastService.ShowError("Ha ocurrido un error al recuperar el material");
			
		}
		
	}
}
